.main {
  margin: 50px 0;

  h2 {
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;

    &--media {
      flex: 1 0 20%;
      padding: 10px 5px;
      max-width: 300px;
      min-width: 280px;
      //background-color: aqua;

      @media screen and (max-width: $tablet) {
        flex: 1 0 25%;
        max-width: 260px;
        min-width: 220px;
      }

      @media screen and (max-width: $phone) {
        flex: 1 1 40%;
        max-width: 240px;
        min-width: 120px;
      }

      img {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        border-radius: 10px;
        transition: 0.25s ease-in;
        opacity: 0.9;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;

        &:hover {
          transform: scale(1.05);
          opacity: 1;
        }

        @media screen and (max-width: $tablet) {
          //max-width: 240px;
        }
      }

      .media-description {
        font-weight: 100;
        font-size: 14px;
        letter-spacing: 0px;
        opacity: 0.8;
      }

      .media-title {
        font-weight: 500;
        font-size: 17px;
        letter-spacing: 1px;
      }
    }
  }
}
