.search-form {
  max-width: 360px;
  min-width: 250px;
  margin: 30px 0;
  color: white;
  display: flex;
  padding: 2px;
  border-radius: 5px;
  //border-bottom: 2px solid rgb(163, 156, 156); //currentColor; //
  //background-color: aqua;

  @media screen and (max-width: $phone) {
    margin: 0 auto;
  }

  input {
    width: 300px;
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 16px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;

    &::placeholder {
      color: #bbb;
    }
  }

  img {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s ease-out;

    &:hover {
      opacity: 1;
    }
  }

  input:focus {
    //box-shadow: 0 0 3px 0 #1183d6;
    //border-color: #1183d6;
    border-bottom-color: #1183d6;
    border-radius: 0%;
    outline: none;
  }
}
