.trending {
  margin: 50px 0;

  @media screen and (max-width: $tablet) {
    margin: 30px 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  h2 {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2px;

    overflow-x: auto;

    &--media {
      position: relative;
      max-width: 400px;
      min-width: 380px;
      height: auto;
      border-radius: 10px;
      //background-color: aqua;
      display: grid;
      place-items: center;

      img {
        width: 94%;
        height: 94%;
        border-radius: 10px;
        transition: 0.3s ease-out;
        opacity: 0.9;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;

        &:hover {
          transform: scale(1.05);
          opacity: 1;
        }

        @media screen and (max-width: $tablet) {
          max-width: 320px;
        }

        @media screen and (max-width: $phone) {
          max-width: 300px;
        }
      }

      .media-container {
        position: absolute;
        z-index: 2;
        bottom: 20px;
        left: 25px;

        .media-description {
          font-weight: 300;
          font-size: 16px;
          letter-spacing: 0px;
          opacity: 0.8;
        }

        .media-title {
          font-weight: 500;
          font-size: 19px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
