//----- FONTS -----
$mainFont: "Outfit";

//----- COLORS -----
$darkBlack: #0b0d17;
$lightPurple: #d0d6f9;
$lightWhite: #ffffff;
$faintGray: #979797;
$mainBackground: #0f141f;
$navBackground: #161d2e;

//----- SCREEN SIZES -----
$tablet: 1000px;
$phone: 700px;

//----- MIXINS -----
// @mixin headingStyle_1($size) {
//   font-size: $size;
// }

//----- MAIN CONTAINER -----
.main-container {
  max-width: 90%;
  height: 100%;
  margin-top: 50px;
  margin-left: 155px;
  transition: 0.3s ease-out;
  //background-color: rgba(239, 239, 238, 0.127);

  @media screen and (max-width: $tablet) {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }
}

//----- FLEX CENTER -----
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//----- IMAGES -----

//----- GENERAL SETTINGS -----
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $mainBackground;
  color: $lightWhite;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: $mainFont, sans-serif;
  scroll-behavior: smooth;
}

h2 {
  opacity: 0.9;
  letter-spacing: 1px;
  font-weight: 500;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

  &:visited {
    color: $lightWhite;
  }
}

img {
  cursor: pointer;
}
